# Supabase - Session Pooler
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.frgtdcifqwhqpokqltiu
DB_PASSWORD=HBeRqBRKW8PD29rv
DB_SSLMODE=require

# Credenciales de la API GeoPagos (entregadas por la Intendencia)
UTEC_API_USERNAME=utec_grupo_1
UTEC_API_PASSWORD=IM5Jyl4u73c

# Puertos en la máquina host (cambiarlos si ya están ocupados)
DB_HOST_PORT=5433
API_HOST_PORT=9080
FRONT_HOST_PORT=8000